h2{
  background-color: gray;
  color: white;
  width: 50%;
  height: 300px;
  margin: auto;
}

h2::before {
  content: '';
  width: 70px;
  height: 70px;
  background-color: chocolate;
  position: relative;
  top: 50%;
  left: 20%;
  display: inline-block;
  border-radius: 50%;
  
}

p{
  background-color: black;
  color: white;
  height: 100px;
  width: 30%;
  margin: auto;
}